{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{# Formulaire pour l'inscription de l'utilisateur sur le site #}
			{{form_start(userForm)}}
				<h1>S'inscrire</h1>
			{{form_widget(userForm)}}
			<button class="btn_form">Valider</button>
			{{form_end(userForm)}}

{% endblock %}