{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

	<div class="formulaire">
		<div class="form">
			{{form_start(userForm)}}
				<h1>S'inscrire</h1>
			{{form_widget(userForm)}}
			<button>Valider</button>
			{{form_end(userForm)}}
		</div>
	</div>
{% endblock %}