@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

// Typo
@font-face {
	font-family: "regular";
	src: url(/assets/font/SourceSansPro-Regular.ttf);
}
@font-face {
	font-family: "bold";
	src: url(/assets/font/SourceSansPro-Bold.ttf);
}

// Général
*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: regular;
}

// background pour toutes les pages sauf l'accueil
.background_main{
	background: -webkit-linear-gradient(0deg, #3e0018,#885c7e,#fafafa);/* Chrome 10-25, Safari 5.1-6 */              background: linear-gradient(0deg, #3e0018,#885c7e,#fafafa);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                           
}

// titres
h1,h2 h3,h4,h5,h6{
	font-family: bold;
}

// gestion des onglets de la barre de navigation
.active{
	color: v.$third-color;
	transform:scale(1.2);
	text-decoration:underline;
}

// gestion des messages
.alert {
	background-color: #fbfbfc9e;
	margin: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}
.alert-success{
	color: green;
}
.alert-danger{
	color: red;
}
.alert-warning{
	color:orangered
}

