{% extends 'base.html.twig' %}

{% block title %}ajouter un vin du catalogue à ma cave{% endblock %}

{% block body %}
<h1>Avez-vous une cave ?</h1>
{# {% if app.user == cellar.user %} #}
<button>Oui</button>

<Button>Non</Button>
{% endblock %}
