{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
	<section id="legal_notices">
		<h1>MENTIONS LÉGALES</h1>
		<h2>1. Informations Générales</h2>
			<p>Le site "My Cave" est un service de cave à vin virtuelle accessible à l'adresse : [URL du site].</p>	
		<h2>2. Éditeur du Site</h2>
			<ul>
				<li>- Nom de l'entreprise : My Cave</li>
				<li>- Forme juridique : auto-entrepreneur</li>
				<li>- Adresse du siège social : 1 Rue de la Cave - 24130 La Cave</li>
				<li>- Email de contact : mycave@orange.fr</li>
				<li>- Numéro de téléphone : 05.05.05.05.05</li>
			</ul>	
		<h2>3. Directeur de la Publication</h2>
			<ul>
				<li>- Nom et prénom : CAVE Vin</li>
				<li>- Email de contact : mycave@orange.fr</li>
			</ul>	
		<h2>4. Hébergeur du Site</h2>
			<ul>
				<li>- Nom de l'hébergeur : [Nom de l'entreprise]</li>
				<li>- Adresse : [Adresse complète]</li>
				<li>- Numéro de téléphone : [Numéro]</li>
				<li>- Email de contact : [Adresse email]</li>
			</ul>	
		<h2>5. Propriété Intellectuelle</h2>
			<p>Le contenu du site "My Cave" (textes, images, graphismes, logo, etc.) est protégé par les lois en vigueur sur la propriété intellectuelle. Toute reproduction ou représentation, totale ou partielle, sans autorisation expresse, est interdite.</p>	
		<h2>6. Protection des Données Personnelles</h2>
			<p>Conformément au Règlement Général sur la Protection des Données (RGPD), les informations collectées via le site sont traitées avec la plus grande confidentialité. Vous disposez d'un droit d'accès, de rectification et de suppression de vos données en contactant : mycave@orange.fr.</p>	
		<h2>7. Cookies</h2>
			<p>Le site "My Cave" utilise des cookies pour améliorer l'expérience utilisateur. Vous pouvez gérer vos préférences en matière de cookies via les paramètres de votre navigateur.</p>	
		<h2>8. Responsabilité</h2>
			<p>L'éditeur du site ne saurait être tenu responsable en cas de dysfonctionnement, interruption ou erreurs pouvant affecter l'accès au site.</p>	
		<h2>9. Droit Applicable</h2>
			<p>Les présentes mentions légales sont soumises au droit français. En cas de litige, les tribunaux compétents seront ceux du siège de l'éditeur.</p>	
		<p>Pour toute question, vous pouvez nous contacter à l'adresse suivante : mycave@orange.fr.</p>
	</section>
{% endblock %}
