@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

// Formulaires généraux*******************************
h1{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
	color:v.$first-color;
}
#bottle{
	max-width: 500px;
	margin: auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.627);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
	div {
	  margin-bottom: 1rem;
	  display: flex;
	  flex-direction: column;
	}
	label {
	  font-weight: bold;
	  margin-bottom: 5px;
	  color: v.$first-color;
	}
	input,
	select,
	textarea {
	  padding: 10px;
	  border-radius: 4px;
	  font-size: 16px;
	  background: white;
	}
	select[multiple] {
	  height: 120px; // Ajuste la hauteur du menu déroulant multiple
	}
	textarea {
	  resize: vertical;
	  min-height: 100px;
	}
}

#cellar{
	max-width: 500px;
	margin: auto;
	padding: 20px;
	background: rgba(255, 255, 255, 0.627);
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin-bottom: 1rem;
	div {
	  margin-bottom: 1rem;
	  display: flex;
	  flex-direction: column;
	}
	label {
	  font-weight: bold;
	  margin-bottom: 5px;
	  color: v.$first-color;
	}
	input {
	  padding: 10px;
	  border-radius: 4px;
	  font-size: 16px;
	  background: white;
	}
	
}
