@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

footer{
	background-color: v.$first-color;
	color: white;
	padding-top: 2rem;
	.footer{
		@include m.flex(space-around,flex-start);
		a{
			color: white;
			// padding-bottom: 1rem;
			font-size: 0.9em;
		}
		.footbar{
			display: flex;
			flex-direction: column;
			align-content: space-around;
		}
		h4{
			text-decoration: underline;
			padding-bottom: 1rem;
		}
		.copyright{
			font-size: 0.6em;
			text-align: center;
		}
		
	}
	.exces{
		text-align: center;
		padding-bottom: 1rem;
		font-size: 0.8em;
	}
}