@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

nav{
	@include m.flex(space-around);
	
	ul{
		padding: 0;
		// @include m.flex;
		display: flex;
		position: relative;
	}
	li{
		display: flex;
		margin: 0 1.5rem;
	}
	a{
		color: v.$first-color;
		font-weight: bold;
		font-size: 1.2rem;
		margin: 0 1.5rem;
		&:hover{
			color: v.$third-color;
			font-size: 1.5em;
			
		}
	}
 }
 .fa-bars{
	display: none;
	font-size: 1.5em;

 }

//  bannière********************************

.banner {
	position: relative;
	width: 100%;
	height:300px;                                 background: linear-gradient(0deg, rgba(62,0,24,1) 20%, rgba(255,255,255,0) 60%);
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/assets/imglog/eric-cook-D9WH_vlxicA-unsplash.jpg');
		background-position: center;
		background-size: cover;
		opacity: 0.5;
		z-index: -1;
	 }
	.slogan{
		color: v.$first-color;
		// text-align: center;
		display: block;
		@include m.flex;
		height: 210px;
		text-shadow: 0 2px 3px white;
	}
	.logovertical{
		margin: 0;
		max-height: 80vh;
		top:0;
		right: 0;
		position: absolute;
	}
}

// boutons en page d'accueil******************
.section_accueil{
	@include m.flex;
	width: 80%;
	color: v.$first-color;
	.welcome{
		// @include m.flex;
		text-align: center;
		width: 60%;
		strong{
			font-size: 1.5em;
			color: v.$snd-color;
		}
	}
}
.button_accueil{
	position:relative;
	height: 500px;
}
.btn_inscription{
	width: 250px;
	height: 250px;
	background-color: v.$snd-color;
	display: block;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 130px 110px 90px 160px;
	@include m.flex;
	box-shadow: 12px -8px 30px black;
	position: absolute;
	bottom: 2rem;
	
	
	
}
.btn_login{
	width: 250px;
	height: 270px;
	background-color: v.$third-color;
	display: block;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 60px 160px 90px 100px;
	@include m.flex;
	box-shadow: 0px 5px 40px black;
	position:absolute;
	top:30px;
	left: 150px;
}

