@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

nav{
	@include m.flex(space-around);
	
	
	ul{
		padding: 0;
		// @include m.flex;
		display: flex;
		position: relative;
	}
	li{
		display: flex;
		margin: 0 1.5rem;
	}
	a{
		color: v.$first-color;
		font-weight: bold;
		font-size: 1.2rem;
		&:hover{
			color: v.$third-color;
			transform:scale(1.2);	
		}
	}
 }
 .fa-bars{
	display: none;
	font-size: 1.5em;

 }
 .fa-right-from-bracket{
	font-size: 1.4em;
	color: v.$third-color;


 }
 .welcome_login{
	font-size: 1.2em;
	font-weight: bold;
	color: v.$third-color;
 }

//  bannière********************************

.banner {
	position: relative;
	width: 100%;
	height:300px;
	background: linear-gradient(0deg, rgba(62,0,24,1) 20%, rgba(255,255,255,0) 60%);
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/assets/imglog/eric-cook-D9WH_vlxicA-unsplash.jpg');
		background-position: center;
		background-size: cover;
		opacity: 0.5;
		z-index: -1;
	 }
	.slogan{
		color: v.$first-color;
		// text-align: center;
		display: block;
		@include m.flex;
		height: 210px;
		text-shadow: 0 2px 3px white;
	}
	.logovertical{
		margin: 0;
		max-height: 80vh;
		top:0;
		right: 0;
		position: absolute;
	}
}

