@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

nav{
	@include m.flex(space-around);
	
	ul{
		padding: 0;
		// @include m.flex;
		display: flex;
		position: relative;
	}
	li{
		display: flex;
		margin: 0 1.5rem;
	}
	a{
		color: v.$first-color;
		font-weight: bold;
		font-size: 1.2rem;
		margin: 0 1.5rem;
		&:hover{
			color: v.$third-color;
			font-size: 1.5em;
			
		}
	}
 }
 .fa-bars{
	display: none;
	font-size: 1.5em;

 }

//  bannière********************************

.banner {
	position: relative;
	width: 100%;
	height: 300px;
	background: linear-gradient(0deg, rgba(62,0,24,1) 20%, rgba(136,92,126,0) 60%);
	&::after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url('/assets/imglog/eric-cook-D9WH_vlxicA-unsplash.jpg');
		background-position: center;
		background-size: cover;
		opacity: 0.5;
		z-index: -1;
	 }
	h1{
		color: v.$first-color;
		text-align: center;
		
	}
}

// boutons en page d'accueil******************
.section_accueil{
	@include m.flex;
	width: 80%;
	color: v.$first-color;
	.welcome{
		// @include m.flex;
		text-align: center;
		width: 60%;
		strong{
			font-size: 1.5em;
			color: v.$snd-color;
		}

	}

}
.btn_inscription{
	width: 300px;
	height: 250px;
	background-color: v.$snd-color;
	display: block;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 130px 110px 90px 160px;
	@include m.flex;
	box-shadow: 20px 10px 20px black;
	
}
.btn_login{
	width: 250px;
	height: 300px;
	background-color: v.$third-color;
	display: block;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
	border-radius: 60px 160px 90px 100px;
	@include m.flex;
	box-shadow: 0px 10px 40px black;
	
}
