@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

// Gestion des règles pour l'ajout de caves et de vins********
#container_add{
	@include m.flex;
	width: 100%;
	color: v.$first-color;
	padding-top: 3rem;
// description des règles pour guider l'utilisateur
	.rules{
		line-height: 1.5;
		margin: 3rem;
		width: 50%;
		background-color: rgba(255, 255, 255, 0.400
		);
		padding: 1rem;
		border-radius: 50px 0 50px 0;
		h1{
			padding-bottom: 1rem;
			color: v.$snd-color;
		}
// ajout d'une cave
		#add_cellar{
			display: flex;
			justify-content: center;
			margin: 1.5rem 15rem;
			
		}
	}
// ajout d'un vin
	.add_wine{
		text-align: center;
		color: v.$first-color;
		width: 30%;
		line-height: 1.5;
		background-color: rgba(255, 255, 255, 0.400
		);
		padding: 3rem;
		border-radius: 50%;
		p{
			margin-bottom: 3rem;
		}
	}
}
.btn_add{
	background-color: v.$first-color;
	font-weight: bold;
	color:white;
	padding: 10px 15px;
	font-size: 1.2em;
	border-radius: 10px;
}


// Section gestion de mes caves (ajout, modif, suppr)**********
#mescaves{
	h2{
		background-color: v.$snd-color;
		padding: 10px 50px;
		color: white;
		border-radius: 10px;
		margin-top: 100px;

	}
}
// choix des caves
// .cellar_management{
// 	display: grid;
// 	grid-template-columns: repeat(auto-fill, minmax(1fr));
// 	grid-gap: 10px;
// 	padding: 3rem;
// 	width: 50%;
// 	margin: auto;
// 	.container_cellar{
// 		display: flex;justify-content: center;align-items: center;
// 		width: 100%;
// 		.card_cellar{
// 			align-items: center;
// 			width: 70%;
// 		}
// 	}
// 	.btn_line{
// 		display: flex;
// 		justify-content: flex-end;
// 		.btn_modify_line{
// 			background-color: rgb(2, 77, 2);
// 			border-radius: 4px;
// 			box-shadow: 2px 2px 10px black;
// 			padding: 5px 15px;
// 			transition: all 0.1s linear;
// 			&:active{
// 				transform: translate(5px,5px);
// 				box-shadow: 0px 0px 0px;
// 			}
// 			&:hover{
// 				background-color: #00330a;
// 			}
// 			a{
// 				color: white;
// 			}
// 		}
// 	}
// }

// Section cartes mes vins*****************************
.container_mescaves{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
	grid-gap: 50px;
	padding: 3rem;

}
.card_complet{
	box-shadow: 3px 1px 15px rgb(44, 44, 44);
	background-color: white;
	border-radius: 10px;
	padding: 2rem;
	color: white;

}
.main_article{
	width: 100%;
	@include m.flex(flex-start);
	margin-bottom: 1.5rem;

	.card_left{
		width: 30%;
		object-fit: cover;
		box-shadow: 0 0 10px black;
	}
	.card_right{
		background-color: #3e0018d0;
		width: 70%;
		margin: auto;
		text-align: center;
		padding: 2rem;
		margin-left: 1rem;
		border-radius: 20px 0 20px 0;
		h3{
			background-color: rgba(255, 255, 255, 0.752);
			padding: 5px 20px;
			border-radius: 5px;
			color: v.$first-color;
			margin-bottom: 1rem;
		}
		h4{
			margin-bottom: 1rem;
		}
	}
}
.card_description{
	text-align: justify;
	background-color: rgba(255, 255, 255, 0.167);
	color: black;
	border-radius: 10px;
	padding: 1rem;
}


 .container_mescaves .card_complet:nth-child(even){
	 background-color:v.$third-color;
 }


