// couleurs principales
$first-color :#3e0018 ;
$snd-color: #88002d ;
$third-color: #885c7e;

// bouton simple
// $btncolor: ;
// $btncolor-text: ;

// bouton hover
// $btncolor-hover: ;
// $btncolor-hover-text: ;

