{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
	{{form_start(contactform)}}
		<h1>Contactez-nous</h1>
		<div id="contact">
		{{form_widget(contactform)}}
		<button class="btn_form">Envoyer</button>
	</div>
	{{form_end(contactform)}}
{% endblock %}
