{% extends 'base.html.twig' %}

{% block title %}Politique de Cookies{% endblock %}

{% block cookies_policy %}
    <h1>Politique de Cookies</h1>
    	<h2>1. Qu’est-ce qu’un cookie ?</h2>
		<p>Un cookie est un petit fichier stocké sur votre appareil (ordinateur, smartphone, etc.) lorsque vous visitez notre site "My Cave". Il permet de mémoriser vos préférences et d’améliorer votre expérience utilisateur.</p>

	<h2>2. Quels cookies utilisons-nous ?</h2>
		<p>Nous utilisons les types de cookies suivants :</p>
		<ul>
			<li>Cookies essentiels : Nécessaires au bon fonctionnement du site (exemple : connexion à votre compte).</li>
			<li>Cookies de performance : Nous aident à analyser l’utilisation du site et à l’améliorer.</li>
			<li>Cookies de personnalisation : Permettent d’adapter le contenu selon vos préférences.</li>
	<h2>3. Gestion des cookies</h2>
		<p>Vous pouvez accepter ou refuser les cookies à tout moment via notre bannière de consentement ou les paramètres de votre navigateur.</p>

	<p>Modifier les paramètres sur votre navigateur :</p>
	<ul>
		<li>Google Chrome : <a href="">Instructions</a></li>
		<li>Mozilla Firefox : <a href="">Instructions</a></li>
		<li>Safari : <a href="">Instructions</a></li>
		<li>Edge : <a href="">Instructions</a></li>
	</ul>
	<h2>4. Contact</h2>
		<p>Pour toute question sur notre politique de cookies, vous pouvez nous contacter à : mycave.orange.fr.</p>
   
{% endblock %}
