@use "../abstract/variable" as v;
@use "../abstract/mixins" as m;

@media screen and (max-width: 768px) {
// les vins du catalogues
	.card_description {
		flex-direction: column;
		text-align: center;
		padding: 1.5rem;
	}

	.card_explorer {
		width: 80%;
	}

	.description_item {
		width: 90%;
		padding: 1.5rem;
	}

	img {
		width: 150px;
		
	}
}


@media screen and (max-width:730px) {
// Barre de navigation
	.fa-bars{
		display: block;
		margin-left: 2rem;
	}
	nav{
		ul{
			display: none;
			width: 50%;
		}
	}
	.menu_dropdown:hover ul{
		display: block;
		position: absolute;
		top: 3rem;
		left: 1rem;
		background-color: white;
	}
	ul li{
		padding: 0.5rem;
		justify-content: start;

	}
	li:hover{
		background-color: #885c7ec1;
	}
// Bannière de l'accueil
	.logovertical{
		display: none;
	}
	// .section_accueil{
	// 	width: 100%;
	// 	.welcome{
	// 		width: 100%;
	// 		margin: 0 3rem;
	// 	}
	// }
// Message de bienvenue de l'accueil + boutons s'inscrire et se connecter
	.section_accueil{
		display: inline-flex;
		flex-direction: column;
		.welcome{
			width: 100%;
			margin: 0 3rem;
		}
		.button_accueil{
			display: flex;
			justify-content: center;
			height: 250px;
			.btn_inscription{
				max-width: 150px;
				width: 100%;
				max-height: 150px;
				height: 50%;
				bottom:1rem;
			}
			.btn_login{
				max-width: 200px;
				width: 100%;
				max-height: 170px;
				height: 50%;
				top:1.5rem;
				left:4rem;
				font-size: 1rem;
			}
		}
	}
}

@media screen and (max-width:730px) {
// titre des cartes présentent à l'accueil
	.title_fourcard{
		font-size: 1.2rem;
	}
	
}

@media screen and (max-width:570px) {
// Barre de navigation
     nav{
	.logo_message{
		padding-left: 1rem;
		text-align: center;
		font-size: 0.8rem;
	} 
}
// Pied de page (footer)
	.footer{
		flex-direction: column;
		line-height: 1.5rem;
		
	 }
	 .foot_resp_left, .foot_resp_right{
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	 }
	 .copyright{
		width: 100%;
	 }
	 .exces{
		font-size: 0.2rem;
		padding-top: 1.5rem;
	 }
	 .title_fourcard{
		font-size: 1rem;
	}
	
}
@media screen and (max-width:470px) {
// Bannière de l'accueil
	.banner{
		.slogan{
		text-align: center;

		}
	}
// message de Bienvenue de l'accueil
	.section_accueil{
		.welcome{
			h1{
				display: inline-block
			}
		}
	}
// titre des cartes situées à l'accueil
	.title_fourcard{
		font-size: 1rem;
		margin: 3rem 2rem;
	}
	.card_container{
		margin: 2rem;
	}
	
}
@media screen and (max-width:420px) {
// pied de page (footer]
	 .foot_resp_right{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	 }
}